body{
    padding: 0px;
    margin: 0px;
    background-color:rgb(244, 162, 12);
    border: 2px solid red;
    width: 100%;
   
}

.card{
    background-color:rgb(244, 162, 12) !important ;
}

 .nav_bar{
 padding: 0px;
  margin: 0px;
} 

/* vertical menu bar*/
.menu>span:hover{
 background-color: bisque;

}

/* list menu (dropdown)*/
.list_manu{
    display: none;
}


/* for medi queries*/
@media (width<805px)
 {
    .menu{
        display: none;
    }
    .list_manu{
        display: block;
    }
    
}