body{
    padding: 0px;
    margin: 0px;
    background-color:rgb(244, 162, 12);
    border: 2px solid red;
    /* width: 100%; */
   
}

.nav_bar{
    padding: 0px;
     margin: 0px;
   } 

/* for all cards */
.card{
    background-color:rgb(244, 162, 12) !important ;
}

 

/* vertical menu bar list bar*/
.menu>span:hover{
 background-color: bisque;
 cursor: pointer;

}

/* list menu (dropdown)*/
.list_manu{
    display: none;
}

.footer{
    border: 2px solid brown;
    display: flex ;
}


/* for medi queries*/
@media (width<805px)
 {
    /* for horizontal manu bar*/
    .menu{
        display: none;
    }

    /*virtical manu bar list type*/
    .list_manu{
        display: block;
    }
    
}